<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.robot.anyDemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".RxJava.RxActivity" />
        <activity android:name=".animate.AnimateActivity" />
        <activity android:name=".advertise.AdvertiseActivity" />
        <activity android:name=".gouwuche.BuyCarActivity" />
        <activity android:name=".retrofit.RetrofitActivity" />
        <activity android:name=".mvp.MvpActivity" />
        <activity android:name=".nestedScroll.NestedScrollActivity" />
        <activity android:name=".room.RoomActivity" />
        <activity android:name=".dataStructure.DataStructureActivity" />
        <activity android:name=".download.DownloadActivity" />
        <activity android:name=".panorama.PanoramaActivity" />
        <activity android:name=".ThridDimensional.ThirdDimensionActivity" />

        <activity android:name=".touchconflict.TouchConflictActivity" />
    </application>

</manifest>